$def with (form, text)

<!doctype html>

<html>

    <head>
        <title>QSTK Monthly Rebalancing Backtest with Quicksim</title>
        <link rel="stylesheet" type="text/css" href="/static/tutorial.css" />
        
        <script type="text/javascript" src="/static/jquery-1.4.2.min.js"></script>
	<script type="text/javascript">
				function buttonclick() {
					document.myform.textfield.value=document.myform.textfield.value+","+document.myform.drop.value;
				}
                              jQuery(document).ready(function() {
	                                jQuery(".button").click(function() {
                                        var input_string = $$("input#textfield").val();
                                        jQuery.ajax({
                                                type: "POST",
                                                data: {textfield : input_string},
                                                success: function(data) {
                                                jQuery('#foo').html(data).hide().fadeIn(1500);
                                                },
                                                });
                                        return false;
                                        });
                                });
        
                        </script>
    </head>
    
    <body>
	<a href=./logout>Logout</a>
        <br>
        <form class="form" method="post" name="myform"> 
	$:form.render()
	<input type="button" onClick="buttonclick()" value="Add Stock">
        <input class="button" type="submit" value="send"/>    
        </form>

        <br><br><center>
        <span id="foo">$text</span>    </center>    
    </body>
    
</html>
