recursive-include *.txt
include *.md
include *.sh
recursive-include docs *
recursive-include bin *
recursive-include Examples *
recursive-include *.csv
recursive-include *.png
recursive-include QSData *
recursive-incluse QSTK *
include QSTK/qstkutil/*
include QSTK/qstksim/*
