include *.txt
include *.md
include *.sh
include *.py
recursive-include docs *
recursive-include bin *
recursive-include Examples *
recursive-include *.csv
recursive-include *.png
recursive-include QSData *
recursive-include QSTK *
include QSTK/qstkutil/NYSE_dates.txt
include QSTK/QSData/Yahoo/*.csv'
include QSTK/QSData/Yahoo/Lists/*.txt
include QSTK/qstkutil/NYSE_dates.txt
include QSTK/qstktest/*.csv
include QSTK/qstkstudy/sp500.txt