GnuPGInterface==0.3.2
Jinja2==2.6
Mako==0.7.1
MarkupSafe==0.15
PAM==0.4.2
PIL==1.1.7
Pygments==1.5
Sphinx==1.1.3
Twisted-Core==12.2.0
Twisted-Names==12.2.0
Twisted-Web==12.2.0
adium-theme-ubuntu==0.3.3
apt-xapian-index==0.44
argparse==1.2.1
chardet==2.0.1
configglue==1.0
cvxopt==1.1.4
debtagshw==0.1
defer==1.0.6
dirspec==4.0.0
docutils==0.8.1
duplicity==0.6.19
httplib2==0.7.4
joblib==0.6.4
lxml==2.3.5
matplotlib==1.1.1
nose==1.1.2
numexpr==2.0.1
numpy==1.6.2
oauth==1.0.1
oneconf==0.2.9.1
openpyxl==1.5.8
pandas==0.7.3
pexpect==2.4
piston-mini-client==0.7.2
protobuf==2.4.1
pyOpenSSL==0.13
pycups==1.9.62
pycurl==7.19.0
pyinotify==0.9.3
pyparsing==1.5.6
pyserial==2.5
pysmbc==1.0.13
python-apt==0.8.7ubuntu4
python-dateutil==1.5
python-debian==0.1.21-nmu2ubuntu1
pytz==2012j
pyxdg==0.20
reportlab==2.5
rhythmbox-ubuntuone==4.0.0
scikit-learn==0.12.1
scikits.statsmodels==0.3.1
scipy==0.10.1
sessioninstaller==0.0.0
simplejson==2.6.1
six==1.1.0
software-center-aptd-plugins==0.0.0
statsmodels==0.4.2
system-service==0.1.6
tables==2.3.1
ubuntuone-couch==0.3.0
ubuntuone-storage-protocol==4.0.0
unity-lens-photos==0.9
unity-lens-video==0.3.14
unity-scope-video-remote==0.3.10
usb-creator==0.2.23
wicd==1.7.2.4
wsgiref==0.1.2
xdiagnose==3.2
xlrd==0.6.1
xlwt==0.7.4
zope.interface==3.6.1
